:root {
  font-size: 16px;
  --clr-primary: #2589BD;
  --clr-secondary: #187795;
  --clr-accent: #3f3f5f;

  --clr-section-heading: rgb(255, 255, 255);
  --clr-entry-heading: darkred;
  --clr-background: #303030;
  --clr-text: #FFF;

  --fs-xxl: 3rem;
  --fs-xl: 1.9rem;
  --fs-600: 1.4rem;
  --fs-500: 1.2rem;
  --fs-400: 1rem;
  --fs-300: 0.85rem;
  --fs-200: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-text);
  /* border: 2px dashed red; */
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: var(--fs-300);
  font-weight: 300;
  background-color: var(--clr-background);
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.bio {
  grid-area: 1 / 1 / 2 / -1;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  height: 20em;
}

.portrait {
  max-height: 100px;
  width: auto;
  border-radius: 100% 100% 10% 10%;
  margin: 10px;
  border: 3px solid#141414;
}

.nobreak {
  white-space: nowrap;
}

.heading__name {
  font-size: var(--fs-xl);
  font-weight: 600;
  margin-bottom: 0.1em;
  padding: 0 1rem 0 1rem;
}

.heading__role {
  font-size: var(--fs-500);
  font-weight: 400;
  padding: 0 2rem 0 2rem;
}

.contact-info__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin-top: 1em;
}

.contact-info__link>img {
  width: 2rem;
}

.resume {
  grid-area: 2 / 1 / -1 / -1;
  padding: 1.5rem min(5vw, 25px) 0 min(5vw, 25px);
}

.resume__list {
  list-style: none;
}

.resume__list:last-child {
  padding-bottom: 0;
}

.resume__section {
  margin-bottom: 1rem;
}

.resume__section-heading {
  color: var(--clr-section-heading);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: var(--fs-xl);
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
}

.resume__entry {
  padding-bottom: 1.75rem;
}

.resume__entry-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  background-color: var(--clr-entry-heading);
  min-height: 2rem;
  row-gap: 0.3125rem;
  padding: 0.3125rem 1.25rem 0.3125rem 1.25rem;
  border-radius: 50px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.resume__entry-date {
  grid-area: 1 / 1 / 2 / 2;
  font-size: var(--fs-300);
}

.resume__entry-organization {
  grid-area: 2 / 2 / -1 / -1;
  font-size: var(--fs-400);
  font-weight: 100;
  justify-self: right;
  text-align: right;
}

.resume__entry-role,
.resume__entry-category {
  grid-area: 2 / 1 / -1 / 2;
  font-size: var(--fs-500);
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

.resume__box {
  background-color: var(--clr-secondary);
  margin: -1.2rem 0.06em 0 0.06em;
  padding: 2.5em 1em 1em 1em;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 1;
  border: 3px solid var(--clr-entry-heading);
  transition: max-height 0.3s ease-out, padding 0.3s ease-out, opacity 0.3s ease;
  max-height: 50em;
  opacity: 1;
}

.resume__box--hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.resume__entry-header--collapsible::before {
  content: '➕';
  position: absolute;
  left: -20px;
  /* Adjust as necessary */
  top: 50%;
  transform: translateY(-50%);
}

.resume__entry-header--collapsible.expanded::before {
  content: '➖';
}

.resume__details {
  font-size: var(--fs-500);
  font-weight: 300;
  text-align: left;
  /* Kan endres til justified */
  line-height: 1.15em;
  margin: 0;
  padding: 0;
}

.details__subheader {
  display: block;
  font-size: var(--fs-400);
  font-weight: 500;
  text-shadow: 1px 1px 1px black;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  text-align: left;
}

.resume__entry-category {
  grid-area: 1 / 1 / -1 / -1;
}

.resume__list-two-column {
  list-style-type: none;
  margin-bottom: 1em;
}

.resume__skill-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.25;
  margin-bottom: 0.3em;
}

.skill-left,
.skill-right {
  display: inline-block;
  width: 45%;
}

.skill-left {
  font-size: var(--fs-500);
  font-weight: 400;
}

.skill-right {
  font-size: var(--fs-500);
  font-weight: 300;
}

@media (min-width: 900px) {
  .container {
    display: block;
  }

  .bio {
    justify-content: space-between;
    height: 100vh;
    max-width: min(40vw, 400px);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  .portrait {
    width: 100%;
    max-height: max-content;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 5px solid black;
  }

  .heading__name {
    font-size: var(--fs-xxl);
  }

  .heading__role {
    font-size: var(--fs-xl);
    font-weight: 500;
  }

  .contact-info__list {
    margin-bottom: 10vh;
    gap: 20px;
  }

  .contact-info__link>img {
    width: 4rem;
  }

  .resume {
    padding: 3% min(10%, 700px) 5% min(10%, 700px);
    margin-left: min(40vw, 400px);
  }

  .resume__entry-header {
    cursor: auto;
  }
}